<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>about</title>
</head>
<body>
    <h1>
        {{pageTitle}}
    </h1>
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. In ea accusamus tempora ipsa ipsam nam natus, quia saepe, amet quis quo accusantium nobis recusandae tenetur harum perferendis, sapiente soluta velit.
    </p>

    <footer>
        <p>Copy right {{currentYear}} </p>
    </footer>
</body>
</html>